In [1]:
import pandas as pd
pd.__version__

'2.2.2'

In [2]:
a=[1,7,4]
mypro=pd.Series(a,index=('a','b','c'))
print(mypro)

a    1
b    7
c    4
dtype: int64

In [4]:
sale={"july":3000, "augusst":4000,"octuber":5000}
x=pd.Series(sale)
print(x)

july       3000
augusst    4000
octuber    5000
dtype: int64

In [3]:
sale={"july":3000, "augusst":4000,"octuber":5000}
x=pd.Series(sale, index=['july','augusst'])
print(x)

july       3000
augusst    4000
dtype: int64

In [4]:
data={"profit":[460,400,600],'loss':[300,100,600]}
y=pd.DataFrame(data, index=['july','august','october'])
print(y)

         profit  loss
july        460   300
august      400   100
october     600   600

In [5]:
print(y.loc['august'])

profit    400
loss      100
Name: august, dtype: int64

In [6]:
z=pd.read_csv("contacts.csv")
print(z.to_string)

<bound method DataFrame.to_string of                 First Name  Middle Name       Last Name  Phonetic First Name  \
0     Mo. Mohsin Siddique           NaN     CSE LU SIC                   NaN
1      Deepak Kumar Bansal          NaN     CSE LU SIC                   NaN
2            Himanshu Mall          NaN     CSE LU SIC                   NaN
3        Alakh Chaturvedi           NaN     CSE LU SIC                   NaN
4                Pulkeshin          NaN     BCA LU SIC                   NaN
5              Satvik Bari          NaN     BCA LU SIC                   NaN
6            Simple singh           NaN  CSE-AI LU SIC                   NaN
7            Nishant Yadav          NaN     BCA LU SIC                   NaN
8   Ashutosh Kumar Pandey           NaN     ECE LU SIC                   NaN
9      Aditya Pratap Singh          NaN     CSE LU SIC                   NaN
10       Priyanshu Tiwari           NaN     MCA LU SIC                   NaN
11           Aastha Bharti          NaN     BCA LU SIC                   NaN
12          Alok Prajapati          NaN     MCA LU SIC                   NaN
13               Star bawa          NaN     MCA LU SIC                   NaN
14                  Bhoomi          NaN     CSE LU SIC                   NaN
15           Adarsh Shukla          NaN      CE LU SIC                   NaN
16           Archana yadav          NaN     CSE LU SIC                   NaN
17               Raj Hans           NaN     ECE LU SIC                   NaN
18             Tanu Shukla          NaN     CSE LU SIC                   NaN
19       Aditya Choudhary           NaN     CSE LU SIC                   NaN
20       Harshit Kesarwani          NaN     MCA LU SIC                   NaN
21         Abhishek Kumar           NaN     MCA LU SIC                   NaN
22         Mohammad kamran          NaN     CSE LU SIC                   NaN
23               Priyanka           NaN      EE LU SIC                   NaN
24          Supriya Gautam          NaN     BCA LU SIC                   NaN
25           Alark Mishra           NaN     ECE LU SIC                   NaN
26            Somya Goyal           NaN  CSE-AI LU SIC                   NaN
27      Karan Singh Manral          NaN     MCA LU SIC                   NaN
28           Ashish Kumar           NaN     CSE LU SIC                   NaN
29          Diksha Gaurav           NaN     BCA LU SIC                   NaN
30           Aparna Singh           NaN     ECE LU SIC                   NaN
31       NITISH KR MAURYA           NaN     MCA LU SIC                   NaN
32   Abhishek Kumar Singh           NaN     MCA LU SIC                   NaN
33           Priyansh pal           NaN      ME LU SIC                   NaN
34          Kushagra Dixit          NaN     BCA LU SIC                   NaN
35            Krish Yadav           NaN     BCA LU SIC                   NaN
36            Jatin Verma           NaN     BCA LU SIC                   NaN
37           Aqil Rabbani           NaN      EE LU SIC                   NaN
38           Priya Mishra           NaN  CSE-AI LU SIC                   NaN
39        Samriddhi Sharma          NaN     ECE LU SIC                   NaN
40       Aryan Srivastava           NaN     BCA LU SIC                   NaN
41      Pratik Vishwakarma          NaN     CSE LU SIC                   NaN
42         Shivani Rathore          NaN     BCA LU SIC                   NaN

    Phonetic Middle Name  Phonetic Last Name  Name Prefix  Name Suffix  \
0                    NaN                 NaN          NaN          NaN
1                    NaN                 NaN          NaN          NaN
2                    NaN                 NaN          NaN          NaN
3                    NaN                 NaN          NaN          NaN
4                    NaN                 NaN          NaN          NaN
5                    NaN                 NaN          NaN          NaN
6                    NaN                 NaN          NaN          NaN
7                    NaN                 NaN          NaN          NaN
8                    NaN                 NaN          NaN          NaN
9                    NaN                 NaN          NaN          NaN
10                   NaN                 NaN          NaN          NaN
11                   NaN                 NaN          NaN          NaN
12                   NaN                 NaN          NaN          NaN
13                   NaN                 NaN          NaN          NaN
14                   NaN                 NaN          NaN          NaN
15                   NaN                 NaN          NaN          NaN
16                   NaN                 NaN          NaN          NaN
17                   NaN                 NaN          NaN          NaN
18                   NaN                 NaN          NaN          NaN
19                   NaN                 NaN          NaN          NaN
20                   NaN                 NaN          NaN          NaN
21                   NaN                 NaN          NaN          NaN
22                   NaN                 NaN          NaN          NaN
23                   NaN                 NaN          NaN          NaN
24                   NaN                 NaN          NaN          NaN
25                   NaN                 NaN          NaN          NaN
26                   NaN                 NaN          NaN          NaN
27                   NaN                 NaN          NaN          NaN
28                   NaN                 NaN          NaN          NaN
29                   NaN                 NaN          NaN          NaN
30                   NaN                 NaN          NaN          NaN
31                   NaN                 NaN          NaN          NaN
32                   NaN                 NaN          NaN          NaN
33                   NaN                 NaN          NaN          NaN
34                   NaN                 NaN          NaN          NaN
35                   NaN                 NaN          NaN          NaN
36                   NaN                 NaN          NaN          NaN
37                   NaN                 NaN          NaN          NaN
38                   NaN                 NaN          NaN          NaN
39                   NaN                 NaN          NaN          NaN
40                   NaN                 NaN          NaN          NaN
41                   NaN                 NaN          NaN          NaN
42                   NaN                 NaN          NaN          NaN

    Nickname  File As  Organization Name  Organization Title  \
0        NaN      NaN                NaN                 NaN
1        NaN      NaN                NaN                 NaN
2        NaN      NaN                NaN                 NaN
3        NaN      NaN                NaN                 NaN
4        NaN      NaN                NaN                 NaN
5        NaN      NaN                NaN                 NaN
6        NaN      NaN                NaN                 NaN
7        NaN      NaN                NaN                 NaN
8        NaN      NaN                NaN                 NaN
9        NaN      NaN                NaN                 NaN
10       NaN      NaN                NaN                 NaN
11       NaN      NaN                NaN                 NaN
12       NaN      NaN                NaN                 NaN
13       NaN      NaN                NaN                 NaN
14       NaN      NaN                NaN                 NaN
15       NaN      NaN                NaN                 NaN
16       NaN      NaN                NaN                 NaN
17       NaN      NaN                NaN                 NaN
18       NaN      NaN                NaN                 NaN
19       NaN      NaN                NaN                 NaN
20       NaN      NaN                NaN                 NaN
21       NaN      NaN                NaN                 NaN
22       NaN      NaN                NaN                 NaN
23       NaN      NaN                NaN                 NaN
24       NaN      NaN                NaN                 NaN
25       NaN      NaN                NaN                 NaN
26       NaN      NaN                NaN                 NaN
27       NaN      NaN                NaN                 NaN
28       NaN      NaN                NaN                 NaN
29       NaN      NaN                NaN                 NaN
30       NaN      NaN                NaN                 NaN
31       NaN      NaN                NaN                 NaN
32       NaN      NaN                NaN                 NaN
33       NaN      NaN                NaN                 NaN
34       NaN      NaN                NaN                 NaN
35       NaN      NaN                NaN                 NaN
36       NaN      NaN                NaN                 NaN
37       NaN      NaN                NaN                 NaN
38       NaN      NaN                NaN                 NaN
39       NaN      NaN                NaN                 NaN
40       NaN      NaN                NaN                 NaN
41       NaN      NaN                NaN                 NaN
42       NaN      NaN                NaN                 NaN

    Organization Department  Birthday  Notes  Photo        Labels  \
0                       NaN       NaN    NaN    NaN  * myContacts
1                       NaN       NaN    NaN    NaN  * myContacts
2                       NaN       NaN    NaN    NaN  * myContacts
3                       NaN       NaN    NaN    NaN  * myContacts
4                       NaN       NaN    NaN    NaN  * myContacts
5                       NaN       NaN    NaN    NaN  * myContacts
6                       NaN       NaN    NaN    NaN  * myContacts
7                       NaN       NaN    NaN    NaN  * myContacts
8                       NaN       NaN    NaN    NaN  * myContacts
9                       NaN       NaN    NaN    NaN  * myContacts
10                      NaN       NaN    NaN    NaN  * myContacts
11                      NaN       NaN    NaN    NaN  * myContacts
12                      NaN       NaN    NaN    NaN  * myContacts
13                      NaN       NaN    NaN    NaN  * myContacts
14                      NaN       NaN    NaN    NaN  * myContacts
15                      NaN       NaN    NaN    NaN  * myContacts
16                      NaN       NaN    NaN    NaN  * myContacts
17                      NaN       NaN    NaN    NaN  * myContacts
18                      NaN       NaN    NaN    NaN  * myContacts
19                      NaN       NaN    NaN    NaN  * myContacts
20                      NaN       NaN    NaN    NaN  * myContacts
21                      NaN       NaN    NaN    NaN  * myContacts
22                      NaN       NaN    NaN    NaN  * myContacts
23                      NaN       NaN    NaN    NaN  * myContacts
24                      NaN       NaN    NaN    NaN  * myContacts
25                      NaN       NaN    NaN    NaN  * myContacts
26                      NaN       NaN    NaN    NaN  * myContacts
27                      NaN       NaN    NaN    NaN  * myContacts
28                      NaN       NaN    NaN    NaN  * myContacts
29                      NaN       NaN    NaN    NaN  * myContacts
30                      NaN       NaN    NaN    NaN  * myContacts
31                      NaN       NaN    NaN    NaN  * myContacts
32                      NaN       NaN    NaN    NaN  * myContacts
33                      NaN       NaN    NaN    NaN  * myContacts
34                      NaN       NaN    NaN    NaN  * myContacts
35                      NaN       NaN    NaN    NaN  * myContacts
36                      NaN       NaN    NaN    NaN  * myContacts
37                      NaN       NaN    NaN    NaN  * myContacts
38                      NaN       NaN    NaN    NaN  * myContacts
39                      NaN       NaN    NaN    NaN  * myContacts
40                      NaN       NaN    NaN    NaN  * myContacts
41                      NaN       NaN    NaN    NaN  * myContacts
42                      NaN       NaN    NaN    NaN  * myContacts

    Phone 1 - Label  Phone 1 - Value
0               NaN       7081120086
1               NaN       8218259698
2               NaN       8299843639
3               NaN       9580813770
4               NaN       7071484060
5               NaN       9621644684
6               NaN       9415061711
7               NaN       8423364253
8               NaN       6392966564
9               NaN       8887862021
10              NaN       9026172491
11              NaN       6387011672
12              NaN       7054279700
13              NaN       8318407131
14              NaN       9628941710
15              NaN       9140334729
16              NaN       7608043697
17              NaN       9341473271
18              NaN       7905551929
19              NaN       9027343801
20              NaN       9506471172
21              NaN       7903263814
22              NaN       9682703521
23              NaN       6398220473
24              NaN       8924937560
25              NaN       8840601412
26              NaN       9919114874
27              NaN       8318413202
28              NaN       7081250231
29              NaN       9473886521
30              NaN       9651908232
31              NaN       9415206968
32              NaN       6307549073
33              NaN       8840850499
34              NaN       6387022930
35              NaN       6386721737
36              NaN       8896810322
37              NaN       8604080942
38              NaN       9555682094
39              NaN       7007750480
40              NaN       7376790521
41              NaN       9120477812
42              NaN       9808598241  >

In [5]:
data = {'Department': ['HR', 'Finance', 'IT', 'HR', 'Finance', 'IT'],
'Employee': ['John', 'Sarah', 'Mike', 'Anna', 'Tom', 'Sam'],
'Salary': [50000, 60000, 70000, 48000, 61000, 72000]
}

df=pd.DataFrame(data)

department_group= df.groupby('Department')['Salary'].agg(['sum','mean','count'])
print(department_group)
# df_grp1=df.groupby(['Department','Employee'])
# df_grp2=df.groupby(['Department','Employee'])['Salary']
# df_grp3=df.groupby(['Department','Employee'])['Salary'].sum()
# print(df_grp1)
# print(df_grp2)
# print(df_grp3)

               sum     mean  count
Department
Finance     121000  60500.0      2
HR           98000  49000.0      2
IT          142000  71000.0      2

In [7]:
pivot= df.pivot_table(values='Salary',index='Department',columns='Employee',aggfunc='sum')
print(pivot)

Employee       Anna     John     Mike      Sam    Sarah      Tom
Department
Finance         NaN      NaN      NaN      NaN  60000.0  61000.0
HR          48000.0  50000.0      NaN      NaN      NaN      NaN
IT              NaN      NaN  70000.0  72000.0      NaN      NaN

In [9]:
crosstab= pd.crosstab(df['Department'],df["Employee"])
print(crosstab)

Employee    Anna  John  Mike  Sam  Sarah  Tom
Department
Finance        0     0     0    0      1    1
HR             1     1     0    0      0    0
IT             0     0     1    1      0    0